
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Template.cshtml";
}

@model IEnumerable<web1._0.Models.Sach>


@foreach(var a in Model)
{
    @Html.Partial("_BookInList", a)

    }

<button type="button" value="" onclick="location.href='@Url.Action("pushBook","Home")'" class="btn btn-danger">Đăng ký</button>








