body{
	max-width: 1200px;
	margin: 0 auto;
}

/*menu left */
.submenu li{
	padding-left:30px;
	
	background:url(../images/template/arrow-33-xxl.png) no-repeat 10px 9px    ;
	}
ul{
list-style-type:none;	
}
.col-3{
	
}
.col-4{
	
}
.col-5{
	
}
#menuleft{
	padding-left:px;
	
}


/*index - Minh Tri*/
}
}

.container_1 {
    position: relative;
    width: 100%;
}

.hinh {
    display: inline-block;
    width: 257px;
    height: 317px;
    position: relative;
}

.overlay {
    overflow:scroll;
    overflow-wrap:break-word;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 317px;
    width: 257px;
    opacity: 0;
    display:none;
    transition: .5s ease;
    background-color: #CCC8C8;
}

.container_1:hover .overlay {
    opacity: 0.9;
    display:inline-block;
}

.text {
    color: black;
    font-size: 12px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    -ms-transform: translate(50%, 50%);
}
#slider {
    bottom:5px;
    right:5px;
    margin: 0px auto;
    width: 170px;
    height: 170px;
    bolder: 1px solid #333;
    position: fixed;
}

.slide1 {
    width: 170px;
    height: 170px;
}

#lienhe {
    display: inline;
    width: 170px;
    min-height: 170px;
}

/*BookInlist Nhan*/

.BookinList {
    
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
    min-height: 200px;
    border-radius: 5px;
    background-color:gainsboro;
}
.Image {
    display: inline-block;
    
}
.Image img {
        width: 257px;
        height: 317px;
    }
.Info{
    display:inline-block;
    width:50%;
}

.Intro {
    
}

/* menu */
.menu{
    margin-bottom:30px;
    border-radius:5px;
}
/*search*/





