body{
	max-width: 1200px;
	margin: 0 auto;
}

/*menu left */
.submenu li{
	padding-left:30px;
	
	background:url(../images/template/arrow-33-xxl.png) no-repeat 10px 9px    ;
	}
ul{
list-style-type:none;	
}
.col-3{
	
}
.col-4{
	
}
.col-5{
	
}
#menuleft{
	padding-left:px;
	
}


/*index - Minh Tri*/
}
.main {
  width: auto;
  text-align: center;
  margin: auto;
}
.container_1 {
  position: relative;
  width: 100%;
}
 
.hinh {
  display: block;
  width: 257px;
  height: 317px;
}
 
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 200px;
  opacity: 0;
  transition: .5s ease;
  background-color: antiquewhite;
}
 
.container_1:hover .overlay {
  opacity: 1;
}
 
.text {
  color: black;
  font-size: 12px;
	margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(50%, 50%);
}

/*BookInlist Nhan*/

.BookinList {

    margin-bottom:10px;
    padding:5px;
    width: 100%;
    min-height: 200px;
    background-color: gainsboro;
    border-radius:5px;
}
.Image { 
    display:inline-block;
    position:relative;
}
.Image img {
    width: 257px;
    height: 317px;
}
.Info{
    display:inline-block;
    width:50%;
}

.Intro {
    
}

/* menu */
.menu{
    margin-bottom:30px;
    border-radius:5px;
}


