@model web1._0.Models.UserLogin

@if (Model == null)
{
    <div class="row">
        <ul class="nav  font-weight-bold border menu">
            <li class="nav-item">  @Html.ActionLink("Đăng nhập", "Index", "TaiKhoan", null, new { @class = "nav-link" })</li>
            <li class="nav-item">  @Html.ActionLink("Đăng ký", "DangKy", "TaiKhoan", null, new { @class = "nav-link" }) </li>
        </ul>
    </div>
}
else
{
    <div class="row">
        
        <ul class="nav  font-weight-bold border menu ">
            <li class="nav-item"> @Html.ActionLink("Đăng xuất", "Logout", "TaiKhoan", null, new { @class = "nav-link" })</li>
            <li class="nav-item">  @Html.ActionLink("Kiểm tra đơn hàng", "kiemtradonhang", "Mua", null, new { @class = "nav-link" }) </li>
        </ul>
        
    </div>
    
    

}

